:root{
	--animate-duration: 0.7s;
    --animate-delay: 0s;
}

.body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #231F20;
	font-size: 20px;
	background: #FFF3F5;overflow: hidden;
	height: 100vh;
	overflow: visible;
	width: 100%;

}
.wrap {
	position: relative;
	margin-left: 65px;
	margin-top: 65px;
	
}
.wrap::-webkit-scrollbar {
	display: none;
  }


.stepper {
	margin-top: -65px;
	margin-left: -65px;
	width: 30px;
	height: 30px;
	background: #FF4957;
	width: 130px;
	height: 130px;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 64px;
	position: relative;
	box-shadow: 0px 0px 80px 10px rgba(255, 73, 87, 0.25);
	overflow: hidden;
	z-index: 2;
	transition: all 1s ease-in-out;
	cursor: pointer;
}
	span {
		user-select: none;
		position: absolute;
		top: 28px;
		left: 50%;
		transform: translateY(0) translateX(-50%);
 }
	.arrow-bottom:hover {
			width: 60px;
		}
		.arrow-top:hover {
			width: 60px;
		}

		.arrow-bottom:active{
			color: #FF4957;
		}

		.arrow-bottom:active{
			filter: drop-shadow(0px 0px 5px  #df1223);
		}
		.arrow-top:active{
			filter: drop-shadow(0px 0px 5px  #df1223);
		}

.arrow-top {
	position: absolute;
	top: -120px;
	left: 0;
	transform: translateX(-50%);
	user-select: none;
	width: 50px;
 cursor: pointer;
 transition: all 0.2s ease-in-out;
 z-index: 100;
}

.arrow-bottom {
	transition: all 0.2s ease-in-out;
	position: absolute;
	bottom: -57px;
	left: 0;
	transform: translateX(-50%);
	user-select: none;
	width: 50px;
 cursor: pointer;
 z-index: 100;
}



/* ////////////////////// */

.toggleButton{
	position: absolute;
	z-index: 100;
	top: 20px;
	right: 20px;
}


.checkbox {
	opacity: 0;
	position: absolute;
  }
  
  .label {
	width: 39px;
    height: 14px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
	  border: 1px solid white;

  }
  
  .ball {
	width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
	transform: translateX(24px);
  }
  
  .fa-moon {
	color: pink;
	height: 0.9rem;
}

.fa-sun {
	color: yellow;
	height: 0.9rem;
  }

.dark{
	background-color: rgb(64 60 83);
	transition: all 0.5s ease-in-out;
}  
.light{
	background-color: #ffff;
	transition: all 0.5s ease-in-out;
}
